Hi <%= @user.username %>,
  seems you have requested a password recovering for your account on <a href="<%= @domain %>"><%= @domain %></a>.
  
  If is you to do that request, just go to the following URL: <a href="<%= @domain %>/user/password_lost/<%= @user.username %>/<%= @user.lost_password %>"><%= @domain %>/user/password_lost/<%= @user.username %>/<%= @user.lost_password</a>.
  
  When you will have do this successfully, you will receive a new email with your new password.
   
  In case of troubles, feel free to ask help at <a href="mailto:<%= @admin_email %>"><%= @admin_email %></a>.
