Hi <%= @user.username %>,
  your new password for <a href="<%= @domain %>"><%= @domain %></a> is @user.tmp_password
  
  You can change this simply doing the login at <a href="<%= @domain %>/user/login"><%= @domain %>/user/login</a> and then going in <a href="<%= @domain %>/user/edit"><%= @domain %>/user/edit</a>.
   
  In case of troubles, feel free to ask help at <a href="mailto:<%= @admin_email %>"><%= @admin_email %></a>.
