<% if @game %>
  <form action="<%= @current_url %>" method="post" class="center">
    <table>
      <tr>
        <td>Name</td>
        <td>
          <input type="text" name="name" placeholder="name" value="<%= @game.name %>" />
        </td>
      </tr>
      <tr>
        <td>Category</td>
        <td>
          <select name="category1">
            <%= erb :'template/macros/category1' %>
          </select>
          <select name="category2">
            <%= erb :'template/macros/category2' %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Tag</td>
        <td>
          <select name="tag">
            <%= erb :'template/macros/tags' %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Platform</td>
        <td>
          <select name="platform">
            <%= erb :'template/macros/platforms' %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Vote</td>
        <td>
          <select name="vote">
            <%= erb :'template/macros/vote' %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Comment</td>
        <td>
          <textarea name="comment" placeholder="Comment" rows="10" cols="60"><%= @game.comment %></textarea>
        </td>
      </tr>
      <tr>
        <td>Started the</td>
        <td>
          <select name="year1">
            <% @selected = :year %>
            <%= erb :'template/macros/started_the' %>
          </select>
          
          <select name="month1">
            <% @selected = :month %>
            <%= erb :'template/macros/started_the' %>
          </select>
          
          <select name="day1">
            <% @selected = :day %>
            <%= erb :'template/macros/started_the' %>
          </select>
        </td>
      </tr>
      <tr>
        <td>Finished the</td>
        <td>
          <select name="year2">
            <% @selected = :year %>
            <%= erb :'template/macros/finished_the' %>
          </select>
          
          <select name="month2">
            <% @selected = :month %>
            <%= erb :'template/macros/finished_the' %>
          </select>
          
          <select name="day2">
            <% @selected = :day %>
            <%= erb :'template/macros/finished_the' %>
          </select>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= csrf_tag %>
          <input type="submit" value="Add" />
        </td>
      </tr>
    </table>
  </form>
<% else %>
<form action="<%= @current_url %>" method="post" class="center">
  <table>
    <tr>
      <td>Name</td>
      <td>
        <input type="text" name="name" placeholder="name" />
      </td>
    </tr>
    <tr>
      <td>Category</td>
      <td>
        <select name="category1">
          <%= erb :'template/macros/category1' %>
        </select>
        <select name="category2">
          <%= erb :'template/macros/category2' %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Tag</td>
      <td>
        <select name="tag">
          <%= erb :'template/macros/tags' %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Platform</td>
      <td>
        <select name="platform">
          <%= erb :'template/macros/platforms' %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Vote</td>
      <td>
        <select name="vote">
          <%= erb :'template/macros/vote' %>
        </select>
      </td>
    </tr>
    <tr>
      <td>Comment</td>
      <td>
        <textarea name="comment" placeholder="Comment" rows="10" cols="60"></textarea>
      </td>
    </tr>
    <tr>
      <td>Started the</td>
      <td>
          <select name="year1">
            <% @selected = :year %>
            <%= erb :'template/macros/started_the' %>
          </select>
          
          <select name="month1">
            <% @selected = :month %>
            <%= erb :'template/macros/started_the' %>
          </select>
          
          <select name="day1">
            <% @selected = :day %>
            <%= erb :'template/macros/started_the' %>
          </select>
      </td>
    </tr>
    <tr>
      <td>Dropped the</td>
      <td>
          <select name="year2">
            <% @selected = :year %>
            <%= erb :'template/macros/finished_the' %>
          </select>
          
          <select name="month2">
            <% @selected = :month %>
            <%= erb :'template/macros/finished_the' %>
          </select>
          
          <select name="day2">
            <% @selected = :day %>
            <%= erb :'template/macros/finished_the' %>
          </select>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <%= csrf_tag %>
        <input type="submit" value="Add" />
      </td>
    </tr>
  </table>
</form>
<% end %>
