<table>

  <thead>
    <tr>
      <th>#</th>
      <th><a href="/gamelist/<%= @username %>/name/asc">Game</a></th>
      <th><a href="/gamelist/<%= @username %>/vote/desc">Vote</a></th>
      <th><a href="/gamelist/<%= @username %>/category/asc">Category</a></th>
      <th><a href="/gamelist/<%= @username %>/platform/asc">Platform</a></th>
      <th><a href="/gamelist/<%= @username %>/started/desc">Start/Drop</a></th>
      <% if @logged && @own %>
        <th><b>Admin</b></th>
      <% end %>
    </tr>
  </thead>
  
  <tbody>
    <% @games.each { |game| %>
      <% if game.tag == @tag %>
        <tr title="<%= game.comment %>">
          <td><%= @i            %></td>
          <td><%= game.name     %></td>
          <td><%= game.vote     %></td>
          <td><%= game.category1 %> <%= "- #{game.category2}" unless game.category2.blank? %></td>
          <td><%= game.platform %></td>
          <td><%= game.started  %>  <%= "- #{game.finished}" %></td>
          <% if @logged && @own %>
            <td>
              <form action="/gamelist/<%= @username %>/delete" method="post">
                <input type="hidden" name="id" value="<%= game.id %>" />
                <input type="submit" value="Delete" />
              </form>
              <a href="/gamelist/<%= @username %>/<%= game.id %>/edit">Edit</a>
            </td>
          <% end %>
        </tr>
      <% @i += 1 %>
      <% end %>
    <% } %>
  </tbody>
  
</table>

<br /><br />
