<% 0.upto(10) { |i| %>
  <% if @game && @game.vote == i %>
    <option value="<%= i %>" selected><%= i %></option>
  <% else %>
    <option value="<%= i %>" <%= 'selected' if i == 6 %>><%= i %></option>
  <% end %>
<% } %>
